.header{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* typography */
.font-logo{
    color : var(--f-b1-clr);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -1px;
}

ul{
    list-style-type: none;
}

li .link{
    color: black;
    text-decoration: none;
}

/* layout */
.logo-section{
    display: flex;
}

.nav-menu{
    position: fixed;
    right: -50%;
    top: 3.6rem;
    height: calc(100vh - 3.6rem);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    transition: right 1s linear;
}

.nav-menu-active{
    opacity: 1;
    right: 0;
}

.nav-menu ul{
    display: flex;
    flex-direction: column;
    gap: 1rem
}


@media (width > 425px) {
    .menu-btn{
        display: none;
    }
    .nav-menu{
        position: initial;
        top: 0;
        right: 0;
        opacity: 1;
        height: auto;
        width: auto;
        padding: 0;
        justify-content: flex-end;
    }
    .nav-menu ul{
        flex-direction: row;
        gap: 2rem;
    }
    
}