.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 0.5px solid rgb(107, 107, 107);
    border-radius: 12px;
    padding: 1em;
}

form input[type = "text"]{
    outline: none;
    border: none;
    border-bottom: 0.5px solid rgb(107, 107, 107);
    padding: 0.5em;
    font-size: 1em;
}

form input[type = "submit"]{
    padding: 0.5em 1em;
    background-color: var(--p-clr);
    color: var(--d-clr);
    border: none;
    outline: none;
    border-radius : 12px;
}

span .link{
    text-decoration: none;
    color: tomato;
}